<!DOCTYPE html>
<html lang="en">

$head

<body>

$menu

<div class="container">
   <div class="row">

      $assertj_guava_side_menu

      <div class="col-lg-10 col-md-10 col-sm-10 text-left">
         <h1 class="page-header">AssertJ Guava assertions</h1>

         <p>AssertJ assertions for <a href="https://github.com/google/guava">Guava</a> provides assertions for Guava types like <span class="small-code">Multimap</span>, <span class="small-code">Multiset</span>, <span class="small-code">Table</span>, <span class="small-code">Optional</span>, <span class="small-code">Range</span> or <span class="small-code">ByteSource</span>.</p>
         <p>If you think some assertion is missing, please <a href="https://github.com/joel-costigliola/assertj-guava/issues">create an issue</a> or even better contribute!</p>
         <p>AssertJ Guava is hosted on github : <a href="https://github.com/joel-costigliola/assertj-guava">https://github.com/joel-costigliola/assertj-guava</a>.</p>

         <h3 class="page-header"><span id="quickstart"></span>Guava assertions quickstart guide</h3>

         <p>To quickly start using Guava assertions, follow the steps below.</p>

         <h4 class="page-header">1 - Add assertj-guava dependency to your project pom.xml</h4>

<pre><code class="xml">&lt;dependency&gt;
  &lt;groupId&gt;org.assertj&lt;/groupId&gt;
  &lt;artifactId&gt;assertj-guava&lt;/artifactId&gt;
  &lt;!-- Use 2.x version if you rely on Java 7 / AssertJ Core 2.x --&gt;
  &lt;version&gt;3.1.0&lt;/version&gt;
  &lt;scope&gt;test&lt;/scope&gt;
&lt;/dependency&gt;</code></pre>

         <p>If you use another dependency tool, please check this page to find the relevant <a href="http://search.maven.org/#artifactdetails|org.assertj|assertj-guava|3.1.0|bundle">assertj-guava dependency declaration</a> for your tool.</p>

         <h4 class="page-header">2 - Statically import <span class="small-code">org.assertj.guava.api.Assertions.assertThat</span> ...</h4>
         <p>... and use your preferred IDE code completion after <span class="small-code">assertThat.</span></p>

         <p>Example :</p>

<pre><code class="java">import static org.assertj.guava.api.Assertions.assertThat;
import static org.assertj.guava.api.Assertions.entry;

// Multimap assertions
Multimap&lt;String, String&gt; actual = ArrayListMultimap.create();
actual.putAll("Lakers", newArrayList("Kobe Bryant", "Magic Johnson", "Kareem Abdul Jabbar"));
actual.putAll("Spurs", newArrayList("Tony Parker", "Tim Duncan", "Manu Ginobili"));

assertThat(actual).containsKeys("Lakers", "Spurs");
assertThat(actual).contains(entry("Lakers", "Kobe Bryant"), entry("Spurs", "Tim Duncan"));

// Multiset assertions
Multiset&lt;String&gt; actual = HashMultiset.create();   
actual.add("shoes", 2);
             
assertThat(actual).contains(2, "shoes");
assertThat(actual).containsAtLeast(1, "shoes");
assertThat(actual).containsAtMost(3, "shoes");

// Range assertions
Range&lt;Integer&gt; range = Range.closed(10, 12);

assertThat(range).isNotEmpty()
                 .contains(10, 11, 12)
                 .hasClosedLowerBound()
                 .hasLowerEndpointEqualTo(10)
                 .hasUpperEndpointEqualTo(12);
 
// Table assertions
Table&lt;Integer, String, String&gt; bestMovies = HashBasedTable.create();

bestMovies.put(1970, "Palme d'Or", "M.A.S.H");
bestMovies.put(1994, "Palme d'Or", "Pulp Fiction");
bestMovies.put(2008, "Palme d'Or", "Entre les murs");
bestMovies.put(2000, "Best picture Oscar", "American Beauty");
bestMovies.put(2011, "Goldener Bär", "A Separation");

assertThat(bestMovies).hasRowCount(5).hasColumnCount(3).hasSize(5)
                      .containsValues("American Beauty", "A Separation", "Pulp Fiction")
                      .containsCell(1994, "Palme d'Or", "Pulp Fiction")
                      .containsColumns("Palme d'Or", "Best picture Oscar", "Goldener Bär")
                      .containsRows(1970, 1994, 2000, 2008, 2011);


// Optional assertions
Optional&lt;String&gt; optional = Optional.of("Test");
assertThat(optional).isPresent().contains("Test");</code></pre>

         <p><span class="small-code">assertThat</span> and <span class="small-code">entry</span> are static imports from the <span class="small-code">Assertions</span> class.</p>

         <p>Note that you can find more working examples in the <a href="https://github.com/joel-costigliola/assertj-examples/blob/master/assertions-examples/src/test/java/org/assertj/examples/guava">guava package</a> of the <a href="https://github.com/joel-costigliola/assertj-examples/">assertj-examples</a> project.</p>

         <h3 class="page-header"><span id="3.1.0"/></span><span id="latest-release"/></span>Guava assertions 3.1.0 release</h3>
         <p>Release date : 2016-10-24</p>

         <p>AssertJ Guava 3.1.0 requires Java 8 and AssertJ Core 3.x.</p>

         <div class="release-section-category">Release notes:</div>
         <ul>
            <li>Add <a href="assertj-guava.html#3.1.0-multiset"><span class="small-code">Multiset</span> assertions</a>. <span class="contributor">(Max Daniline)</span></li>
            <li>Don't impose a version range on Guava dependency.</li>
         </ul>

          <h4 class="page-header"><span id="3.1.0-multiset" class="adjustAnchor"></span><i class="fa fa-arrow-circle-right"></i> Multiset assertions.</h4>

             <p>Allow to check the content of Multisets.</p>
             <p>Example :</p>
             <pre><code class="java"> Multiset&lt;String&gt; actual = HashMultiset.create();   
 actual.add("shoes", 2);
             
 assertThat(actual).contains(2, "shoes");
 assertThat(actual).containsAtLeast(1, "shoes");
 assertThat(actual).containsAtMost(3, "shoes");</code></pre>         

         <h3 class="page-header"><span id="3.0.0"/></span>Guava assertions 3.0.0 release</h3>
         <p>Release date : 2015-12-19</p>

         <p>AssertJ Guava 3.0.0 requires Java 8 and AssertJ Core 3.x.</p>

         <div class="release-section-category">Release notes:</div>
         <ul>
            <li><b>Breaking change</b> : AssertJ Guava 3.0.0 relies on Java 8 and Assertj Core 3.x .</li>
            <li>Improve OSGi manifest.</li>
         </ul>

         <h3 class="page-header"><span id="2.0.0"/></span></span>Guava assertions 2.0.0 release</h3>
         <p>Release date : 2015-07-21</p>

         <p>Thanks to <span class="contributor">William Delanoue</span> and <span class="contributor">Pascal Schumacher</span> for their contributions to this version.</p>

         <div class="release-section-category">Release notes:</div>
         <ul>
            <li><b>Breaking change</b> : AssertJ Guava 2.0.0 relies on Java 7 and Assertj Core 2.x (but not 3.x).</li>
            <li>New Multimap assertion : <a href="assertj-guava.html#2.0.0-hasSameEntriesAs"><span class="small-code">hasSameEntriesAs(Multimap other)</span></a>.</li>
            <li>New Multimap assertion : <a href="assertj-guava.html#2.0.0-containsAllEntriesOf"><span class="small-code">containsAllEntriesOf(Multimap other)</span></a>.</li>
            <li>Allow to run assertions on Optional value with <a href="assertj-guava.html#2.0.0-extractingValue"><span class="small-code">extractingValue()</span></a>. <span class="contributor">(William Delanoue)</span></li>
            <li>Make <span class="small-code">MapEntry</span> generic i.e. : <span class="small-code">MapEntry&lt;K, V&gt;</span>.</li>
            <li>Make assertj-guava OSGI compatible.</li>
            <li>Javadoc improvements. <span class="contributor">(Pascal Schumacher)</span></li>
         </ul>

<h4 class="page-header"><span id="2.0.0-hasSameEntriesAs" class="adjustAnchor"></span><i class="fa fa-arrow-circle-right"></i> New Multimap assertion : <span class="small-code">hasSameEntriesAs(Multimap other)</span>.</h4>

   <p>Allow to compare the content of two multimaps who would not be equal because being of different types like <span class="small-code">SetMultimap</span> and <span class="small-code">ListMultimap</span>.</p>
   <p>Example :</p>
   <pre><code class="java">Multimap&lt;String, String&gt; actual = ArrayListMultimap.create();
listMultimap.putAll("Spurs", newArrayList("Tony Parker", "Tim Duncan", "Manu Ginobili"));
listMultimap.putAll("Bulls", newArrayList("Michael Jordan", "Scottie Pippen", "Derrick Rose"));

Multimap&lt;String, String&gt; setMultimap = TreeMultimap.create();
setMultimap.putAll("Spurs", newHashSet("Tony Parker", "Tim Duncan", "Manu Ginobili"));
setMultimap.putAll("Bulls", newHashSet("Michael Jordan", "Scottie Pippen", "Derrick Rose"));

// assertion will pass as listMultimap and setMultimap have the same content
assertThat(listMultimap).hasSameEntriesAs(setMultimap);

// this assertion FAILS even though both multimaps have the same content
assertThat(listMultimap).isEqualTo(setMultimap);</code></pre>         

<h4 class="page-header"><span id="2.0.0-containsAllEntriesOf" class="adjustAnchor"></span><i class="fa fa-arrow-circle-right"></i> New Multimap assertion : <span class="small-code">containsAllEntriesOf(Multimap other)</span>.</h4>

   <p>Verifies that the actual <span class="small-code">Multimap</span> contains all entries of the given one (it might contain more entries).</p>
   <p>Example :</p>
   <pre><code class="java">Multimap&lt;String, String&gt; actual = ArrayListMultimap.create();
actual.putAll("Spurs", newArrayList("Tony Parker", "Tim Duncan", "Manu Ginobili"));
actual.putAll("Bulls", newArrayList("Michael Jordan", "Scottie Pippen", "Derrick Rose"));

Multimap&lt;String, String&gt; other = TreeMultimap.create();
other.putAll("Spurs", newHashSet("Tony Parker", "Tim Duncan"));
other.putAll("Bulls", newHashSet("Michael Jordan", "Scottie Pippen"));

// assertion will pass as other is a subset of actual.
assertThat(actual).containsAllEntriesOf(other);

// this assertion FAILS as other does not contain "Spurs -> "Manu Ginobili" and "Bulls" -> "Derrick Rose"
assertThat(other).containsAllEntriesOf(actual);</code></pre>   

<h4 class="page-header"><span id="2.0.0-extractingValue" class="adjustAnchor"></span><i class="fa fa-arrow-circle-right"></i> Allow to run assertions on Optional value with <span class="small-code">extractingValue()</span>.</h4>

   <p>Allow to chain assertion on the content of the <span class="small-code">Optional</span> using <span class="small-code">extractingValue()</span>.</p>
   <p>Example :</p>
   <pre><code class="java">Optional&lt;Number&gt; optional = Optional.of(12L);
assertThat(optional).extractingValue()
                    .isInstanceOf(Long.class)
                    .isEqualTo(12L);
</code></pre>         
   <p>There is a special support for  <span class="small-code">String</span> values with <span class="small-code">extractingCharSequence()</span>.</p>
   <p>Example :</p>
   <pre><code class="java">Optional&lt;String&gt; optional = Optional.of("Bill");
// extractingCharSequence allows to chain String specific assertions
assertThat(optional).extractingCharSequence()
                    .startsWith("Bi");</code></pre>         

         <h3 class="page-header"><span id="1.3.1"/></span></span>Guava assertions 1.3.1 release</h3>
         <p>Release date : 2015-01-21</p>

         <p>Bugfix release fixing <span class="small-code">hasUpperEndpointEqual</span> assertion error message (thanks <span class="contributor">László Balázs-Csíki</span> for reporting it).</p>
         
         <h3 class="page-header"><span id="1.3.0"/></span>Guava assertions 1.3.0 release</h3>
         <p>Release date : 2014-10-27</p>

         <p>Thanks to <span class="contributor">Simon Barbey</span> and <span class="contributor">Jochen Kupperschmidt</span> for their contributions to this version.</p>

         <div class="release-section-category">Release notes:</div>
         <ul>
            <li>New Multimap assertion : <span class="small-code">isNotEmpty()</span>. <span class="contributor">(Simon Barbey)</span></li>
            <li>Javadoc code syntax highlighting.</li>
            <li>Javadoc fix. <span class="contributor">(Jochen Kupperschmidt)</span></li>
         </ul>
         
         <h3 class="page-header"><span id="1.2.0"/></span><span id="1.2.0"/></span>Guava assertions 1.2.0 release</h3>
         <p>Release date : 2014-05-25</p>

         <p>Thanks to <span class="contributor">David Harris</span> and <span class="contributor">Marcin Kwaczyński</span> for their contributions to this version.</p>

         <div class="release-section-category">Release notes:</div>
         <ul>
            <li>Guava Range assertions <span class="contributor">(Marcin Kwaczyński)</span></li>
            <li>New Table assertions <span class="contributor">(David Harris)</span></li>
            <li>Javadoc improvements</li>
         </ul>
         
         <h3 class="page-header"><span id="1.1.0"/></span>Guava assertions 1.1.0 release</h3>
         <p>Release date : 2013-12-27</p>

         <p>Thanks to <span class="contributor">Andrew Gaul</span> for his contributions to this version.</p>

         <div class="release-section-category">Release notes:</div>
         <ul>
            <li>Guava ByteSource assertions <span class="contributor">(Andrew Gaul)</span></li>
            <li>Javadoc improvements.</li>
         </ul>

         <h3 class="page-header">Guava assertions 1.0.0 release</h3>
         <p>2013-03-26 : 1.0.0 release</p>

         <p>First release after Fest fork.</p>
         <p>Thanks to <span class="contributor">Jan Gorman</span> for his contributions to this version.</p>

         <div class="release-section-category">Release notes:</div>
         <ul>
            <li>Guava Table assertions <span class="contributor">(Jan Gorman)</span></li>
         </ul>

         <h3 class="page-header"><span id="javadoc"/></span>Javadoc of latest release</h3>

         <p>Latest javadoc release : <a href="http://joel-costigliola.github.io/assertj/guava/api/index.html">AssertJ Guava javadoc</a>.</p>

          <h3 class="page-header"><span id="migrating-from-fest"/></span>Migrating from Fest Guava assertions</h3>

         <p>Migrating from Fest Guava to AssertJ Guava Assertions is easy, you only have to change your static import, just replace :
         </p>

         <pre><code class="java">import static org.fest.assertions.api.GUAVA</code></pre>

         <p>with :</p>

         <pre><code class="java">import static org.assertj.guava.api.Assertions</code></pre>

          <h3 class="page-header"><span id="core-and-guava-assertions"/></span>Using both AssertJ <a href="https://github.com/joel-costigliola/assertj-core">Core assertions</a> and Guava assertions</h3>

         <p>You will have to use two static imports : one for <span class="small-code">org.assertj.core.api.Assertions.assertThat</span>
            to get core assertions and one <span class="small-code">org.assertj.guava.api.Assertions.assertThat</span> for Guava assertions.</p>

<pre><code class="java">import static org.assertj.core.api.Assertions.assertThat;
import static org.assertj.guava.api.Assertions.assertThat;
...
// assertThat comes from org.assertj.guava.api.Assertions.assertThat static import
Multimap&lt;String, String&gt; actual = ArrayListMultimap.create();
actual.putAll("Lakers", newArrayList("Kobe Bryant", "Magic Johnson", "Kareem Abdul Jabbar"));
actual.putAll("Spurs", newArrayList("Tony Parker", "Tim Duncan", "Manu Ginobili"));

assertThat(actual).hasSize(6);
assertThat(actual).containsKeys("Lakers", "Spurs");

// assertThat comes from org.assertj.core.api.Assertions.assertThat static import
assertThat("hello world").startsWith("hello");</code></pre>

         <h3 class="page-header"><span id="mailing-list"/></span>Mailing list</h3>

         <p>If you have any questions, please use
            <a href="https://groups.google.com/forum/?fromgroups=#!forum/assertj">AssertJ google group</a>.</p>

         <h3 class="page-header"><span id="code"/></span>Code and issue tracker</h3>

         <p>AssertJ Guava is hosted on github : <a href="https://github.com/joel-costigliola/assertj-guava">https://github.com/joel-costigliola/assertj-guava</a>.</p>

         <p>Please report bugs or missing features in <a href="https://github.com/joel-costigliola/assertj-guava/issues?labels=&milestone=&page=1&state=open">AssertJ Guava issue tracker</a>.</p>

         <h3 class="page-header"><span id="contributing"/></span>Contributing</h3>

         <p>Thanks for your interest ! Please check our <a href="https://github.com/joel-costigliola/assertj-guava/blob/master/CONTRIBUTING.md#contributing">contributor's guidelines</a>.</p>

         <p>Special thanks to AssertJ Guava contributors:</p>
         <ul>
            <li>Florent Biville</li>
            <li>Max Daniline</li>
            <li>William Delanoue</li>
            <li>Frédéric Marcel Falliere</li>
            <li>Andrew Gaul</li>
            <li>Jan Gorman</li>
            <li>Kornel Kiełczewski</li>
            <li>David Harris</li>
            <li>Marcin Kwaczyński</li>
            <li>Pascal Schumacher</li>
         </ul>

      </div>
   </div>
</div>


$footer

$javascript

</body>
</html>