<!DOCTYPE html>
<html lang="en">

$head

<body>

$menu

<div class="container">
   <div class="row" >

$assertj_swing_side_menu

      <div class="col-lg-10 col-md-10 col-sm-10 text-left" >
         <h1 class="page-header">Basics of AssertJ Swing</h1>

         <h3 class="page-header">Write your first GUI test</h3>

         asd bla    <code>Robot</code>         <pre><code>Not supported</code></pre>
$assertj_swing_danger_two_robots
      </div>
   </div>
</div>


$footer

$javascript

</body>
</html>