<!DOCTYPE html>
<html lang="en">

$head

<body>

$menu

<div class="container">
   <div class="row">

      $assertj_assertions_generator_side_menu

      <div class="col-lg-10 col-md-10 col-sm-10 text-left">
         <h1 class="page-header">AssertJ assertions generator</h1>

         <p>The Assertion Generator is able to create assertions specific to your own classes, it comes with a simple <a href="#quickstart">command line tool</a> and a <a href="assertj-assertions-generator-maven-plugin.html">maven plugin</a>.</p>

         <p>Having the possibility to create assertions specific to your own classes is important because it makes your test assertions reflect the domain model. It's a way to use Domain Driven Design ubiquitous language in your tests. Custom assertions can be seen as a DSL of domain assertions.</p>

         <p>Let's say that you have a <span class="small-code">Player</span> class with <span class="small-code">name</span> and <span class="small-code">team</span> properties,
            the generator is able to create a <span class="small-code">PlayerAssert</span> assertions class with
            <span class="small-code">hasName</span> and <span class="small-code">hasTeam</span> assertions. Use it to write code like :</p>
         <pre><code class="java">assertThat(mvp).hasName("Lebron James").hasTeam("Miami Heat");</code></pre>

         <p>The generator will also create entry point classes like <span class="small-code">Assertions</span>, <a href="assertj-core-news.html#assertj-core-1.6.0-bdd-assertions-style"><span class="small-code">BddAssertions</span></a> and <a href="http://joel-costigliola.github.io/assertj/assertj-core-features-highlight.html#soft-assertions">SoftAssertions</a> to ease accessing each generated <span class="small-code">*Assert</span> classes.
            In the case where <span class="small-code">PlayerAssert</span> and <span class="small-code">GameAssert</span> have been generated, the generated <span class="small-code">Assertions</span> class will be :
         </p>
<pre><code class="java">public class Assertions {

  /**
   * Creates a new instance of &lt;code&gt;{@link GameAssert}&lt;/code&gt;.
   *
   * @param actual the actual value.
   * @return the created assertion object.
   */
  public static GameAssert assertThat(Game actual) {
    return new GameAssert(actual);
  }

  /**
   * Creates a new instance of &lt;code&gt;{@link PlayerAssert}&lt;/code&gt;.
   *
   * @param actual the actual value.
   * @return the created assertion object.
   */
  public static PlayerAssert assertThat(Player actual) {
    return new PlayerAssert(actual);
  }

  /**
   * Creates a new &lt;code&gt;{@link Assertions}&lt;/code&gt;.
   */
  protected Assertions() {
    // empty
  }
}</code></pre>

         <h3 class="page-header"><span id="quickstart"></span>Quickstart for NON Maven users</h3>

         <p>This quickstart guide is for non maven users, if you are a maven user, you should use the <a href="assertj-assertions-generator-maven-plugin.html">assertions generator maven plugin</a>.</p>

         <h4 class="page-header">1 - Get AssertJ assertions generator</h4>

         <p>Get the AssertJ Assertions Generator <a href="http://search.maven.org/#search|ga|1|a%3A%22assertj-assertions-generator%22">archive</a> (either for unix or windows) and extract it, its structure is :</p>
<pre><code class="bash">assertion-generator/
  |-- lib/
  |-- templates/
  |-- generate-assertions script (.bat or .sh)</code></pre>

         <h4 class="page-header">2 - Generate assertions</h4>

         <p>First, put in <span class="small-code">lib/</span> the jars containing the classes you want to generate assertions for,
            then run the script with either the classes or the packages containing the classes you want to generate assertions for.</p>

         <p>Example : generating assertions for <span class="small-code">TolkienCharacter</span> class :</p>
         <pre><code class="bash">generate-assertions.sh org.assertj.examples.data.TolkienCharacter</code></pre>

         <p>Example : generating assertions for all classes in <span class="small-code">org.assertj.examples.data</span> :</p>
         <pre><code class="bash">generate-assertions.sh org.assertj.examples.data</code></pre>

          <p>Your assertions classes have been generated ! You can find them in the current directory.</p>

         <h5>Tip :</h5>
         <p>You can change what is generated by modifying the templates used for assertions creation (have a look at templates directory)</p>

         <h3 class="page-header"><span id="news"></span><span id="1.3.0"></span>Assertions generator 1.3.0 release</h3>
         <p>Release date : 2014-08-03</p>
         <p>Big thanks to <span class="contributor">Fr Jeremy Krieg</span> for his work on this release.</p>

         <div class="release-section-category">Release notes:</div>
         <ul>
            <li>Generate assertions using offset for double and float types.</li>
            <li>Allow to generate assertion classes that don't hide subclasses assertions after using an assertion from a super class. <span class="contributor">(Fr Jeremy Krieg)</span></li>
            <li>Generate assertions for public fields.</li>
            <li>Prepend enclosing class name to inner class assertion name to avoid clash when several inner classes have the same name.</li>
            <li>Don't generate classes with unused import. <span class="contributor">(Fr Jeremy Krieg)</span></li>
            <li>Generated javadoc improvements. <span class="contributor">(Fr Jeremy Krieg)</span></li>
            <li>Allow to specify where to generate Assertions entry point classes. <span class="contributor">(floppywaste)</span></li>
            <li>Generate a BDD style entry point class <a href="assertj-core-news.html#assertj-core-1.6.0-bdd-assertions-style"><span class="small-code">BddAssertions</span></a> replacing <span class="small-code">assertThat</span> methods by <span class="small-code">then</span>.</li>
            <li>Generate a <a href="http://joel-costigliola.github.io/assertj/assertj-core-features-highlight.html#soft-assertions">SoftAssertions</a> entry point class to collect all assertion errors instead of stopping at the first one.</li>
         </ul>

         <h3 class="page-header"><span id="1.2.0"></span>Assertions generator 1.2.0 release</h3>
         <p>Release date : 2013-12-08</p>

         <div class="release-section-category">Release notes:</div>
         <ul>
            <li>To ease using generated assertions, generate an entry point class <span class="small-code">Assertions</span> providing <span class="small-code">assertThat</span> methods giving access to each generated <span class="small-code">*Assert</span> classes.</li>
            <li>Don't generate <span class="small-code">hasDeclaringClass</span> assertion for <span class="small-code">Enum</span>.</li>
            <li>In generated method assertions, rename <span class="small-code">errorMessage</span> local variable to <span class="small-code">assertjErrorMessage</span> to avoid collision when object under test has an <span class="small-code">errorMessage</span> property. <span class="contributor">(William Delanoue)</span></li>
         </ul>

         <h3 class="page-header"><span id="assertions-generator-1.1.0"></span>Assertions generator 1.1.0 release</h3>
         <p>Release date : 2013-09-15</p>
         <p>Big thanks to <span class="contributor">Fabien Duminy</span>, he has done most of the work of this release !</p>

         <div class="release-section-category">Release notes:</div>
         <ul>
            <li>Generated assertions use null safe equals for non primtive types.</li>
            <li>Add exceptions to assertion method signature if underlying getter of class to assert throws some</span>. <span class="contributor">(Fabien Duminy)</span></li>
            <li>Generate assertions for nested/inner classes. <span class="contributor">(Fabien Duminy)</span></li>
            <li>Fix error message displaying unrelevant property value when getter of class to assert doesn't return the same value on successive calls. <span class="contributor">(Fabien Duminy)</span></li>
         </ul>

         <h3 class="page-header"><span id="assertions-generator-1.0.0"></span>Assertions generator 1.0.0 release</h3>
         <p>Release date : 2013-03-26</p>
         <p>It's the first release after Fest fork, generated assertions are cleaner.</p>

         <h3 class="page-header"><span id="mailing-list"/></span>Mailing list</h3>

         <p>If you have any questions, please use
            <a href="https://groups.google.com/forum/?fromgroups=#!forum/assertj">AssertJ google group</a>.</p>

         <h3 class="page-header"><span id="code"/></span>Code and issue tracker</h3>

         <p>AssertJ assertions generator is hosted on github : <a href="https://github.com/joel-costigliola/assertj-assertions-generator">https://github.com/joel-costigliola/assertj-assertions-generator</a>.</p>

         <p>Please report bugs or missing features in <a href="https://github.com/joel-costigliola/assertj-assertions-generator/issues?labels=&milestone=&page=1&state=open">AssertJ assertions generator issue tracker</a>.</p>

         <h3 class="page-header"><span id="contributing"/></span>Contributing</h3>

         <p>Thanks for your interest ! Please check our <a href="https://github.com/joel-costigliola/assertj-assertions-generator/blob/master/CONTRIBUTING.md#contributing">contributor's guidelines</a>.</p>

         <p>Special thanks to AssertJ assertions generator contributors:</p>
         <ul>
            <li>Fabien Duminy</span></li>
            <li>William Delanoue</li>
         </ul>

      </div>
      </div>
   </div>
</div>


$footer

$javascript

</body>
</html>