<!DOCTYPE html>
<html lang="en">

$head

<body>

$menu

<div class="container">
   <div class="row">

      $assertj_guava_side_menu

      <div class="col-lg-10 col-md-10 col-sm-10 text-left">
         <h1 class="page-header">AssertJ Guava assertions</h1>

         <p>AssertJ assertions for <a href="http://code.google.com/p/guava-libraries/">Guava</a> provides assertions for Guava types like <span class="small-code">Multimap</span>, <span class="small-code">Table</span>, <span class="small-code">Optional</span> or <span class="small-code">ByteSource</span>.<br>
            If you need additional assertions, just fill a ticket in <a href="https://github.com/joel-costigliola/assertj-guava/issues?labels=&milestone=&page=1&state=open">Assert Guava issue tracker</a>.</p>
         <p>Assert Guava is hosted on github : <a href="https://github.com/joel-costigliola/assertj-guava">https://github.com/joel-costigliola/assertj-guava</a>.</p>

         <h3 class="page-header"><span id="quickstart"></span>Guava assertions quickstart guide</h3>

         <p>To quickly start using Guava assertions, follow the steps below.</p>

         <h4 class="page-header">1 - Add assertj-guava dependency to your project pom.xml</h4>

<pre><code class="xml">&lt;dependency&gt;
  &lt;groupId&gt;org.assertj&lt;/groupId&gt;
  &lt;artifactId&gt;assertj-guava&lt;/artifactId&gt;
  &lt;version&gt;1.1.0&lt;/version&gt;
  &lt;scope&gt;test&lt;/scope&gt;
&lt;/dependency&gt;</code></pre>

         <p>If you use another dependency tool, please check this page to find the relevant <a href="http://search.maven.org/#artifactdetails|org.assertj|assertj-guava|1.1.0|bundle">assertj dependency declaration</a> for your tool.</p>

         <h4 class="page-header">2 - Statically import <span class="small-code">org.assertj.guava.api.Assertions.assertThat</span> ...</h4>
         <p>... and use your preferred IDE code completion after <span class="small-code">assertThat.</span></p>

         <p>Example :</p>

<pre><code class="java">import static org.assertj.guava.api.Assertions.assertThat;
import static org.assertj.guava.api.Assertions.entry;

// Multimap assertions
Multimap&lt;String, String&gt; actual = ArrayListMultimap.create();
actual.putAll("Lakers", newArrayList("Kobe Bryant", "Magic Johnson", "Kareem Abdul Jabbar"));
actual.putAll("Spurs", newArrayList("Tony Parker", "Tim Duncan", "Manu Ginobili"));

assertThat(actual).containsKeys("Lakers", "Spurs");
assertThat(actual).contains(entry("Lakers", "Kobe Bryant"), entry("Spurs", "Tim Duncan"));

// Optional assertions
Optional&lt;String&gt; optional = Optional.of("Test");
assertThat(optional).isPresent().contains("Test");</code></pre>

         <p><span class="small-code">assertThat</span> and <span class="small-code">entry</span> are static imports from the <span class="small-code">Assertions</span> class.</p>

         <p>Note that you can find more working examples in <a href="https://github.com/joel-costigliola/assertj-examples/blob/master/src/test/java/org/assertj/examples/guava">guava package</a> of <a href="https://github.com/joel-costigliola/assertj-examples/">assertj-examples</a> project.</p>

         <h3 class="page-header"><span id="latest-release"/></span><span id="1.1.0"/></span>Guava assertions 1.1.0 release</h3>
         <p>Release date : 2013-12-27</p>

         <p>Thanks to <span class="contributor">Andrew Gaul</span> for its contributions to this version.</p>

         <div class="release-section-category">Release notes:</div>
         <ul>
            <li>Guava ByteSource assertions <span class="contributor">(Andrew Gaul)</span></li>
            <li>Javadoc improvements.</li>
         </ul>

         <h3 class="page-header">Guava assertions 1.0.0 release</h3>
         <p>2013-03-26 : 1.0.0 release</p>

         <p>First release after Fest fork.</p>
         <p>Thanks to <span class="contributor">Jan Gorman</span> for its contributions to this version.</p>

         <div class="release-section-category">Release notes:</div>
         <ul>
            <li>Guava Table assertions <span class="contributor">(Jan Gorman)</span></li>
         </ul>

         <h3 class="page-header"><span id="javadoc"/></span>Javadoc of latest release</h3>

         <p>Latest javadoc release : <a href="http://joel-costigliola.github.io/assertj/guava/api/index.html">AssertJ Guava javadoc</a>.</p>

          <h3 class="page-header"><span id="migrating-from-fest"/></span>Migrating from Fest Guava assertions</h3>

         <p>Migrating from Fest Guava to AssertJ Guava Assertions is easy, you only have to change your static import, just replace :
         </p>

         <pre><code class="java">import static org.fest.assertions.api.GUAVA</code></pre>

         <p>by :</p>

         <pre><code class="java">import static org.assertj.guava.api.Assertions</code></pre>

          <h3 class="page-header"><span id="core-and-guava-assertions"/></span>Using both AssertJ <a href="https://github.com/joel-costigliola/assertj-core">Core assertions</a> and Guava assertions</h3>

         <p>You will have to make two static import : one for <span class="small-code">org.assertj.core.api.Assertions.assertThat</span>
            to get core assertions and one <span class="small-code">org.assertj.guava.api.Assertions.assertThat</span> for Guava assertions.</p>

<pre><code class="java">import static org.assertj.core.api.Assertions.assertThat;
import static org.assertj.guava.api.Assertions.assertThat;
...
// assertThat comes from org.assertj.guava.api.Assertions.assertThat static import
Multimap&lt;String, String&gt; actual = ArrayListMultimap.create();
actual.putAll("Lakers", newArrayList("Kobe Bryant", "Magic Johnson", "Kareem Abdul Jabbar"));
actual.putAll("Spurs", newArrayList("Tony Parker", "Tim Duncan", "Manu Ginobili"));

assertThat(actual).hasSize(6);
assertThat(actual).containsKeys("Lakers", "Spurs");

// assertThat comes from org.assertj.core.api.Assertions.assertThat static import
assertThat("hello world").startsWith("hello");</code></pre>

         <h3 class="page-header"><span id="mailing-list"/></span>Mailing list</h3>

         <p>If you have any questions, please use
            <a href="https://groups.google.com/forum/?fromgroups=#!forum/assertj">AssertJ google group</a>.</p>

         <h3 class="page-header"><span id="code"/></span>Code and issue tracker</h3>

         <p>Assert Guava is hosted on github : <a href="https://github.com/joel-costigliola/assertj-guava">https://github.com/joel-costigliola/assertj-guava</a>.</p>

         <p>Please report bugs or missing features in <a href="https://github.com/joel-costigliola/assertj-guava/issues?labels=&milestone=&page=1&state=open">Assert Guava issue tracker</a>.</p>

         <h3 class="page-header"><span id="contributing"/></span>Contributing</h3>

         <p>Thanks for your interest ! Please check our <a href="https://github.com/joel-costigliola/assertj-guava/blob/master/CONTRIBUTING.md#contributing">contributor's guidelines</a>.</p>

         <p>Special thanks to Assert Guava contributors:</p>
         <ul>
            <li>Andrew Gaul</span></li>
            <li>Jan Gorman</li>
         </ul>

      </div>
   </div>
</div>


$footer

$javascript

</body>
</html>