<!DOCTYPE html>
<html lang="en">

$head

<body>

$menu

<div class="container">

   <div class="row">
      $assertj_news_side_menu

      <div class="col-lg-10 col-md-10 col-sm-10 text-left">
         <h1 class="page-header">AssertJ latest news</h1>
         This page summarizes what happened recently in AssertJ projects and the current work.

         <h4 class="page-header">What we are working on ...</h4>

         <p>Preparing next AssertJ core version (1.6.0)</p>

         <h4 class="page-header">AssertJ Neo4J 1.0.0 release</h4>
         <p>Release date : 2014-01-02</p>
         <p>A new AssertJ module written by Florent Biville, see the details <a href="assertj-neo4j.html">here </a>.</p>

         <h4 class="page-header">AssertJ Guava 1.1.0 release</h4>
         <p>Release date : 2013-12-27</p>
         <p>See what's <a href="assertj-guava.html#1.1.0">new and noteworthy</a></p>

         <h4 class="page-header">AssertJ core 1.5.0 release</h4>
         <p>Release date : 2013-11-06</p>
         <p>See what's <a href="assertj-core-news.html#assertj-core-1.5.0">new and noteworthy</a></p>
      </div>
   </div>

</div>

$footer

$javascript

</body>
</html>

$menu

