<!DOCTYPE html>
<html lang="en">

$head

<body>

$menu

<div class="container">
   <div class="row">

      $assertj_core_side_menu

      <div class="col-lg-10 col-md-10 col-sm-10 text-left">
         <h1 class="page-header">AssertJ Core overview</h1>

         <p>AssertJ core is a Java library that provides a fluent interface for writing assertions. Its main goal is to
            improve test code readability and make maintenance of tests easier.</p>
            <p>AssertJ core provides assertions for JDK standard types and can be used with JUnit or TestNG.</p>
            <p>Different AssertJ major versions depend on different Java versions :</p>
            <ul>
               <li>AssertJ 3.x requires Java 8 or higher (use the <span class="small-code">org.assertj.core.api.Java6Assertions</span> entry point on Android)</li>
               <li>AssertJ 2.x requires Java 7 or higher (use the <span class="small-code">org.assertj.core.api.Java6Assertions</span> entry point on Android)</li>
               <li>AssertJ 1.x requires Java 6 or higher</li>
            </ul>
            <p>Note that AssertJ 3.x includes all AssertJ 2.x features and adds Java 8 specific ones (like <a href="assertj-core-features-highlight.html#exception-assertion">exception assertions with lambdas</a>).</p>
         </p>

         <p>AssertJ core <a href="https://github.com/joel-costigliola/assertj-core">code</a> and
            <a href="https://github.com/joel-costigliola/assertj-core/issues?state=open">issue tracker</a> are hosted on github.
         </p>

         <h3 class="page-header">Getting started</h3>

         <p>For a quick start, have a look at our
            <a href="assertj-core-quick-start.html">one minute getting started guide</a>.
         </p>

         <p>Convert existing JUnit assertions to AssertJ ones : we have a <a href="assertj-core-converting-junit-assertions-to-assertj.html">guide</a> to easily
            convert JUnit assertions to AssertJ.
         </p>

         <p>If you have any questions, please use
            <a href="https://stackoverflow.com/search?tab=relevance&q=assertj">stack overflow</a> or the <a href="https://groups.google.com/forum/?fromgroups=#!forum/assertj">AssertJ google group</a> (with a preference for stack overflow).
          </p>

         <p>You are more than welcome to
            <a href="https://github.com/joel-costigliola/assertj-core/issues?state=open">raise an issue</a> if you need new assertions or see potential improvements.
         </p>

         <h3 class="page-header">Working with AssertJ core</h3>

         <h5>Working with AssertJ on a daily basis</h5>
         <ul>
            <li><a href="assertj-core-quick-start.html">Quick start guide</a></li>
            <li><a href="assertj-core-features-highlight.html">Features highlight</a></li>
            <li><a href="assertj-core-news.html">New and noteworthy in AssertJ core</a></li>
         </ul>

         <h5>Extending AssertJ</h5>
         <ul>
            <li><a href="assertj-core-conditions.html">Extending assertions with conditions</a></li>
            <li><a href="assertj-core-custom-assertions.html">Creating your own specific assertions</a></li>
         </ul>

         <p>You can see assertions in action with the <a href="https://github.com/joel-costigliola/assertj-examples/blob/master/assertions-examples/src/test/java/org/assertj/examples/">assertj examples tests</a> of the <a href="https://github.com/joel-costigliola/assertj-examples/">assertj-examples</a> project.</p>

         <p>Although AssertJ Core can be used with Android, I suggest using
            <a href="http://square.github.io/assertj-android/">AssertJ-Android</a>, a useful extension specifically for Android.
         </p>

         <h3 class="page-header"><span id="fork"></span>Why fork Fest Assert ?</h3>

         <p>AssertJ is a fork of FEST Assert, a great project I have contributed to for 3 years. So why did I fork it ?</p>

         <p>There are two main reasons :</p>
         <ul>
            <li>FEST 2.0 will only provide a limited set of assertions, far less than Fest 2.0M10 and even less than
               FEST 1.x.
            </li>
            <li>FEST is not open enough to users demands and contributions.</li>
         </ul>

         <p>On the contrary
            <em>AssertJs goal is to provide a rich set of assertions</em> and any reasonable request to enrich AssertJ assertions is welcome. AssertJ is
            <em>community driven</em>, we listen to our users since AssertJ is built for them.</p>

         <p>If you feel that some assertion is missing, please <a href="https://github.com/joel-costigliola/assertj-core/issues?state=open">fill a ticket</a>
            or even better make a contribution !
         </p>

         <i>Joel Costigliola (AssertJ creator)</i>

         <h3 class="page-header"><span id="mailing-list"/></span>Mailing list</h3>

         You can ask questions and make suggestions on the <a
            href="https://groups.google.com/forum/?fromgroups=#!forum/assertj">AssertJ google group</a>.

         <h3 class="page-header"><span id="FAQ"/></span>F.A.Q</h3>

            <ul>
               <li><a href="#android">Android Support</a></li>
               <li><a href="#faq-incorrect-api-usage">FindBugs <span class="small-code">CheckReturnValue</span> error</a></li>
            </ul>

            <h4 class="page-header"><span id="android" class="adjustAnchor"></span><i class="fa fa-arrow-circle-right"></i> Android Support</h4>

            <p>Android does not support the <span class="small-code">java.nio.file.Path</span> class, so the 'regular' AssertJ 3.x/2.x entry point classes can not be used.
            Instead you can use the <span class="small-code">Java6XAssertions</span> classes. For example use <span class="small-code">org.assertj.core.api.Java6Assertions</span> instead of <span class="small-code">org.assertj.core.api.Assertions</span>.</p>

            <p>The following listing contains 'regular' import statements and their android alternative:</p>

            <pre><code class="java">// 'regular' assertj
import static org.assertj.core.api.Assertions.*
// assertj on android
import static org.assertj.core.api.Java6Assertions.*

// 'regular' assertj
import static org.assertj.core.api.SoftAssertions.*
// assertj on android
import static org.assertj.core.api.Java6SoftAssertions.*

// 'regular' assertj
import static org.assertj.core.api.JUnitSoftAssertions.*
// assertj on android
import static org.assertj.core.api.Java6JUnitSoftAssertions.*

// 'regular' assertj
import static org.assertj.core.api.BDDAssertions.*
// assertj on android
import static org.assertj.core.api.Java6BDDAssertions.*

// 'regular' assertj
import static org.assertj.core.api.BDDSoftAssertions.*
// assertj on android
import static org.assertj.core.api.Java6BDDSoftAssertions.*

// 'regular' assertj
import static org.assertj.core.api.JUnitBDDSoftAssertions.*
// assertj on android
import static org.assertj.core.api.Java6JUnitBDDSoftAssertions.*
</code></pre>

            <h4 class="page-header"><span id="faq-incorrect-api-usage" class="adjustAnchor"></span><i class="fa fa-arrow-circle-right"></i> FindBugs <span class="small-code">CheckReturnValue</span> error</h4>

            <p>The following example shows an incorrect AssertJ API usage:</p>

            <pre><code class="java">// BAD USAGE : DON'T DO THIS ! It does not assert anything
assertThat(actual.equals(expected));

// DO THIS :
assertThat(actual).isEqualTo(expected);

// OR THIS (less classy but ok):
assertThat(actual.equals(expected)).isTrue();</code></pre>

            <p>Static code analysis tools like FindBugs can now detect such problems thanks to the <a href="https://github.com/joel-costigliola/assertj-core/pull/695"><span class="small-code">CheckReturnValue</span></a> annotation introduced in 2.5+ / 3.5+.</p>

         <h3 class="page-header"><span id="code"/></span>Code and issue tracker</h3>

         <p>AssertJ Core is hosted on github : <a href="https://github.com/joel-costigliola/assertj-core">https://github.com/joel-costigliola/assertj-core</a>.</p>

         <p>Please report bugs or missing features in the <a href="https://github.com/joel-costigliola/assertj-core/issues?labels=&milestone=&page=1&state=open">AssertJ Core issue tracker</a>.</p>

         <h3 class="page-header"><span id="team"/></span>AssertJ Core Team</h3>


            <h4 class="page-header"><span id="creating-condition"></span>Joel Costigliola</h4>

            <p>AssertJ's Vetinari (ok, maybe not as Machiavellian), enjoy playing basket ball, love Terry Pratchett's disc world (surprised ?), work with linux.</p>

            <h4 class="page-header"><span id="creating-condition"></span>Pascal Schumacher</h4>

            <p>AssertJ collaborator, who loves books, history and books about history.</p>

         <h3 class="page-header"><span id="contributing"/></span>Contributing to AssertJ</h3>

         <p>You are very welcome to contribute, we want to offer the richest and easiest to use assertion API,
            so ideas from our users are very appreciated.</p>

         <p>Contributing is easy and we try to help people contributing. Have a look at the <a
               href="https://github.com/joel-costigliola/assertj-core/blob/master/CONTRIBUTING.md">contributor guidelines</a>
            (these are the same guidelines shown when you create a new issue).
         </p>

         <p>Special thanks assertj-core contributors :

         <ul>
            <li>Adam Dąbrowski</li>
            <li>Adam Ruka</li>
            <li>Alban Dericbourg</li>
            <li>Alexander Bischof</li>
            <li>Alexandre Balhier</li>
            <li>Andrew Gaul</li>
            <li>Ben Blank</li>
            <li>Brian Laframboise</li>
            <li>Brice Dutheil</li>
            <li>Chris Arnott</li>
            <li>Clément Cunin</li>
            <li>Clément Mathieu</li>
            <li>Cristiano Gavião</li>
            <li>Dan Corder</li>
            <li>Daniel Zlotin</li>
            <li>Dima Gerasimov</li>
            <li>dmwvr</li>
            <li>Fabien Duminy</li>
            <li>Fabien Meurisse</li>
            <li>Francis Galiegue</li>
            <li>Filip Hrisafov</li>
            <li>Gregor Zeitlinger</li>
            <li>hgcummings</li>
            <li>James Strachan</li>
            <li>Jean Christophe Gay</li>
            <li>Jeremy Landis</li>
            <li>Johannes Schneider</li>
            <li>Johannes Brodwall</li>
            <li>Guillaume Husta</li>
            <li>Grzegorz Piwowarek</li>
            <li>Kamil Szymanski</li>
            <li>Kseniya Panasyuk</li>
            <li>Kevin Fang</li>
            <li>Lovro Pandzic</li>
            <li>Lukasz Kryger</li>
            <li>Libor Ondrušek</li>
            <li>Marcin Mikosik</li>
            <li>Marcus Klimstra</li>
            <li>Mariusz Smykula</li>
            <li>Mateusz Haligowski</li>
            <li>Michael W. Fender</li>
            <li>Michal Bareja</li>
            <li>Michal Kordas</li>
            <li>Michal Lipski</li>
            <li>Michał Ostruszka</li>
            <li>Michał Piotrkowski</li>
            <li>Michaël Bitard</li>
            <li>Mike Kobit</li>
            <li>Mike Wilkes</li>
            <li>Mikhail Mazursky</li>
            <li>Misha Brukman</li>
            <li>Nicolai Parlog</li>
            <li>Nick Stolwijk</li>
            <li>Paul Doran</li>
            <li>Pascal Schumacher</li>
            <li>Paweł Barszcz</li>
            <li>Peter Phillips</li>
            <li>Pierre Templier</li>
            <li>Piotr Betkier</li>
            <li>Richard Lucas</li>
            <li>Ted Young</li>
            <li>Tim Perry</li>
            <li>timmikk</li>
            <li>Tobias Bieniek</li>
            <li>Tobias Liefke</li>
            <li>Tomasz Bartczak</li>
            <li>Trond Marius Øvstetun</li>
            <li>Valeriy Vyrva</li>
            <li>William Delanoue</li>
         </ul>
         </p>

         <h3 class="page-header">Thanks</h3>

         <p>AssertJ has its roots in FEST Assert, a project I have contributed to for 3 years, so thanks to Alex Ruiz
            FEST's creator !</p>

         <p>Thanks to SonarQube for providing AssertJ Core
            <a href="http://nemo.sonarqube.org/dashboard/index/528057">quality reports</a>.</p>
      </div>
   </div>
</div>


$footer

$javascript

</body>
</html>
