<!DOCTYPE html>
<html lang="en">

$head

<body>

$menu

<div class="container">
   <div class="row" >

$assertj_swing_side_menu

      <div class="col-lg-10 col-md-10 col-sm-10 text-left" >
         <h1 class="page-header">Getting started guide</h1>

         <p>Assuming you have a bit time, here's a detailed introduction to AssertJ Swing. You may want to have a
            look at <a href="assertj-swing-quick-start.html">the quick start guide</a> that allows you to create
            and run an AssertJ Swing test case in the least possible time.</p>

$assertj_swing_get_it

         <h3 class="page-header">Write your first GUI test</h3>
         <p>As the <code>Assertions</code> class is the main entry point to use AssertJ Core, the package
            <a href="swing/api/org/assertj/swing/fixture/package-summary.html" target="_blank">org.assertj.swing.fixture</a>
            is the main entry point to use AssertJ Swing. These fixtures provide specific methods to simulate
            user interaction with a GUI component and also provide assertion methods that verify the state of such
            a GUI component. Although you could work with the
            <a href="swing/api/org/assertj/swing/core/Robot.html" target="_blank">Robot</a> directly, the Robot is too
            low-level and requires considerably more code than the fixtures.</p>

         <p>There is one fixture per Swing component. Each fixture has the same name as the Swing component they can
            handle ending with <em>Fixture</em>. For example, a <code>JButtonFixture</code> knows how to simulate user
            interaction and verify the state of a <code>JButton</code>.</p>

         <p>You're now going to write your first test, let's assume we have a simple <code>JFrame</code> that contains
            a <code>JTextField</code>, a <code>JLabel</code> and a <code>JButton</code>:</p>

         <img src="images/swing-getting-started-application.png" alt="Screenshot of the sample frame to test" />

         <p>The expected behavior of this GUI is, when the user clicks on the button, the text of the text field
            should be copied to the label. Now, which steps are necessary to test this GUI?</p>

         <p>The source code of this sample application can be found <a
               href="https://github.com/joel-costigliola/assertj-examples/blob/master/assertj-swing-aut/src/main/java/org/assertj/swing/aut/getting_started/SimpleCopyApplication.java"
               target="_blank">here</a>. The test we are going to develop can be found <a
               href="https://github.com/joel-costigliola/assertj-examples/blob/master/assertj-swing-junit-examples/src/test/java/org/assertj/swing/junit/examples/getting_started/SimpleCopyApplicationTest.java"
               target="_blank">here</a>.</p>

         <h4>1. Enable checks for EDT access violation</h4>
         <p>AssertJ provides the class <code>FailOnThreadViolationRepaintManager</code> that forces a test to fail if
            access to GUI components is not performed on the EDT. You can find more details
            <a href="assertj-swing-edt-testing-violations.html">here</a>.</p>

         <h4>2. Create a fixture for the frame</h4>
         <p>Depending on the GUI to test, create a fixture to handle either a <code>Frame</code> or a <code>Dialog</code>
            in the <code>setUp()</code> method of your test. The <code>setUp()</code> method is the method that
            initializes the test fixtures, it should run every time <strong>before</strong> a test method is
            executed:
            <ul>
               <li>When using <em>JUnit 3.8.x</em>, this is the method named <code>setUp()</code></li>
               <li>When using <em>JUnit 4.x</em>, this is the method marked with <code>@Before</code></li>
               <li>When using <em>TestNG</em>, this is the method marked with <code>@BeforeMethod</code></li>
            </ul>
         </p>

         <p>Since our example uses a <code>JFrame</code>, we have to use a <code>FrameFixture</code>.</p>

         <pre><code class="language-java">private FrameFixture window;

@Before
public void setUp() {
  SimpleCopyApplication frame = GuiActionRunner.execute(new GuiQuery&lt;SimpleCopyApplication&gt;() {
    protected SimpleCopyApplication executeInEDT() {
      return new SimpleCopyApplication();
    }
  });
  window = new FrameFixture(frame);
  window.show(); // shows the frame to test
}</code></pre>

         <p>It may seem a little weird the way we create a new instance of <code>SimpleCopyApplication</code>. Since
            creation of a frame triggers a <em>paint</em> action, we need to create the frame in the Event Dispatch
            Thread (EDT.) More details about the EDT and Swing threading can be found
            <a href="assertj-swing-edt.html">here</a>.</p>

         <h4>3. Write methods to test your GUI's behavior</h4>
         <p>Now you can start by using the fixtures to test the GUI. AssertJ Swing fixtures simulate a user interacting
            with the GUI in order to verify that such GUI behaves as we expect. For our example, we need to verify that
            the text in the text field is copied to the label when the button is clicked:</p>

         <pre><code class="language-java">@Test
public void shouldCopyTextInLabelWhenClickingButton() {
  window.textBox("textToCopy").enterText("Some random text");
  window.button("copyButton").click();
  window.label("copiedText").requireText("Some random text");
}</code></pre>

         <p>As you probably noticed already, in our example we look up UI components by their unique name. This is
            probably the most stable way, more about finding the components can be found
            <a href="assertj-swing-lookup.html">here</a>.</p>

         <h4>4. Cleaning up resources used by AssertJ Swing</h4>
         <p>AssertJ Swing forces sequential test execution, regardless of the testing framework. To do so, it uses a
            semaphore to give access to the keyboard and mouse to a single test. Cleaning up resources after running
            each test method releases the lock on such semaphore. To clean up resources simply call the method
            <code>cleanUp()</code> on the AssertJ Swing fixture inside:
            <ul>
               <li><code>tearDown()</code>, when using <em>JUnit 3.8.x</em></li>
               <li>the method marked with <code>@After</code>, when using <em>JUnit 4.x</em></li>
               <li>the method marked with <code>@AfterMethod</code>, when using <em>TestNG</em></li>
            </ul>
         </p>

         <pre><code class="language-java">@After
public void tearDown() {
  window.cleanUp();
}</code></pre>

         <h4>Putting everything together</h4>
         <pre><code class="language-java">public class SimpleCopyApplicationTest {
  private FrameFixture window;

  @BeforeClass
  public static void setUpOnce() {
    FailOnThreadViolationRepaintManager.install();
  }

  @Before
  public void setUp() {
    SimpleCopyApplication frame = GuiActionRunner.execute(new GuiQuery&lt;SimpleCopyApplication&gt;() {
      protected SimpleCopyApplication executeInEDT() {
        return new SimpleCopyApplication();
      }
    });
    window = new FrameFixture(frame);
    window.show(); // shows the frame to test
  }

  @Test
  public void shouldCopyTextInLabelWhenClickingButton() {
    window.textBox("textToCopy").enterText("Some random text");
    window.button("copyButton").click();
    window.label("copiedText").requireText("Some random text");
  }

  @After
  public void tearDown() {
    window.cleanUp();
  }
}</code></pre>

         <h3 class="page-header">Alternatively, extend a AssertJ Swing test case</h3>
         <p>AssertJ Swing provides a base test class, to simplify creation of GUI tests. The following code listing
            provides the same functionality as the code above, with less code, thanks to
            <code>AssertJSwingJUnitTestCase</code>. The source can be found <a
                  href="https://github.com/joel-costigliola/assertj-examples/blob/master/assertj-swing-junit-examples/src/test/java/org/assertj/swing/junit/examples/getting_started/SimpleCopyApplication_UseBaseTest.java"
                  target="_blank">here</a>.</p>

         <pre><code class="language-java">public class SimpleCopyApplication_UseBaseTest extends AssertJSwingJUnitTestCase {
  private FrameFixture window;

  @Override
  protected void onSetUp() {
    SimpleCopyApplication frame = GuiActionRunner.execute(new GuiQuery&lt;SimpleCopyApplication&gt;() {
      protected SimpleCopyApplication executeInEDT() {
        return new SimpleCopyApplication();
      }
    });
    // IMPORTANT: note the call to 'robot()'
    // we must use the Robot from AssertJSwingJUnitTestCase
    window = new FrameFixture(robot(), frame);
    window.show(); // shows the frame to test
  }

  @Test
  public void shouldCopyTextInLabelWhenClickingButton() {
    window.textBox("textToCopy").enterText("Some random text");
    window.button("copyButton").click();
    window.label("copiedText").requireText("Some random text");
  }
}</code></pre>
$assertj_swing_danger_two_robots
      </div>
   </div>
</div>


$footer

$javascript

</body>
</html>