<!DOCTYPE html>
<html lang="en">

$head

<body>

$menu

<div class="container">
   <div class="row">

      $assertj_swing_side_menu

      <div class="col-lg-10 col-md-10 col-sm-10 text-left">
         <h1 class="page-header">AssertJ Swing overview</h1>

         <p>AssertJ Swing is a Java library that provides a fluent interface for writing assertions for Swing applications. Its main goal is to
            improve test code readability and make maintenance of tests easier.<br>
            AssertJ Swing is based on JDK standard types assertions, it requires Java SE 6.0 or later and can be used with either
            JUnit or TestNG.
         </p>

         <p>AssertJ Swing <a href="https://github.com/joel-costigliola/assertj-swing">code</a> and
            <a href="https://github.com/joel-costigliola/assertj-swing/issues?state=open">issue tracker</a> are hosted on github.
         </p>
      </div>
   </div>
</div>


$footer

$javascript

</body>
</html>
