<!DOCTYPE html>
<html lang="en">

$head

<body>

$menu

<div class="container">
   <div class="row" >

$assertj_swing_side_menu

      <div class="col-lg-10 col-md-10 col-sm-10 text-left" >
         <h1 class="page-header">Swing's Event Dispatch Thread (EDT)</h1>

         <p>The cardinal rule of
            <a href="http://docs.oracle.com/javase/6/docs/api/javax/swing/package-summary.html#threading"
               target="_blank">Swing threading</a> states that all access to all Swing components should be done in
            the event dispatch thread (EDT). To avoid unexpected behavior in your GUI tests (e.g. random test
            failures), this rule also applies to test code.</p>

         <h3 class="page-header">Writing EDT-safe GUI tests</h3>

         <p>If you follow these tips you ensure that your GUI tests respect Swing's threading rules:</p>

         <ul>
            <li>Read about
               <a href="http://docs.oracle.com/javase/6/docs/api/javax/swing/package-summary.html#threading"
                  target="_blank">Swing's threading rules</a>. Keep in mind the
               <strong><abbr title="ALL access to all Swing components should be done in the EDT"
                             class="initialism">cardinal rule</abbr></strong></li>
            <li>Creation and any direct access to Swing components should be done via <code>GuiActionRunner</code>
                using a <code>GuiQuery</code> or <code>GuiTask</code>, because JUnit and TestNG tests do not run on
                the EDT. More details <a href="#accessing-on-edt">below on this page</a>.</li>
            <li>Access of Swing components through $assertj_swing_name APIs is already EDT-safe.</li>
            <li>It is strongly recommended to use <code>FailOnThreadViolationRepaintManager</code> to catch EDT-access
                violations. More details <a href="#testing-violations">below on this page</a>.</li>
         </ul>

         <p>Alex Ruiz wrote an <a href="http://alexruiz.developerblogs.com/?p=160" target="_blank">entry on his blog</a>
            about how to write EDT-safe GUI tests.</p>

         <h3 class="page-header"><span id="accessing-on-edt"></span>Accessing Swing Components in the EDT</h3>

         <p>$assertj_swing_name performs all access to Swing components in the EDT. $assertj_swing_name also exposes a convenient
            mechanism to access Swing components in the EDT from your test code. This mechanism involves one (with lambda expressions) to three (traditional way) classes:</p>

         <ul>
            <li><a href="swing/api/org/assertj/swing/edt/GuiQuery.html" target="_blank">GuiQuery</a>*, for performing
                actions in the EDT that return a value</li>
            <li><a href="swing/api/org/assertj/swing/edt/GuiTask.html" target="_blank">GuiTask</a>*, for performing
                actions in the EDT that do not return a value</li>
            <li><a href="swing/api/org/assertj/swing/edt/GuiActionRunner.html" target="_blank">GuiActionRunner</a>,
                executes a <code>GuiQuery</code> or <code>GuiTask</code> (or Callable/Runnable via lambda expressions) in the EDT, rethrowing any exceptions thrown when executing any GUI
                action in the EDT.</li>
         </ul>

         <p>* If you use lambda expressions you don't need to use this class directly.</p>

         <h4>Examples</h4>

         <p>When you would like to <em>read</em> the text of a label, execute the following code:</p>

         <pre><code class="language-java">final JLabel nameLabel = ... // get a reference to a JLabel
String text = GuiActionRunner.execute(() -&gt; nameLabel.getText());</code></pre>

         <p>When you would like to <em>set</em> the text of a label, execute:</p>

         <pre><code class="language-java">final JLabel nameLabel = ... // get a reference to a JLabel
GuiActionRunner.execute(() -&gt; nameLabel.setText("Name:"));</code></pre>

         <div class="panel panel-info">
            <div class="panel-heading">Note</div>
            <div class="panel-body">
               In some cases the lambda expression does not work. You can always use the above examples with
               anonymous or dedicated subclasses of <a href="swing/api/org/assertj/swing/edt/GuiQuery.html" target="_blank">GuiQuery</a>
               and <a href="swing/api/org/assertj/swing/edt/GuiTask.html" target="_blank">GuiTask</a>.
            </div>
         </div>

         <h3 class="page-header"><span id="testing-violations"></span>Testing that access to Swing components is done
                                                                      in the EDT</h3>

         <p>$assertj_swing_name provides the class
            <a href="swing/api/org/assertj/swing/edt/FailOnThreadViolationRepaintManager.html"
               target="_blank">FailOnThreadViolationRepaintManager</a>
            that forces a test failure if access to Swing components is not performed on the EDT. This repaint manager
            is based on <code>ThreadCheckingRepaintManager</code> by Scott Delap and Alex Potochkin. For more details
            about how to check if GUI component is done outside the EDT, please check Alex Potochkin's article
            <a href="http://weblogs.java.net/blog/alexfromsun/archive/2006/02/debugging_swing.html"
               target="_blank">Debugging Swing, the final summary</a>.</p>

         <p>Installing <code>FailOnThreadViolationRepaintManager</code> is pretty simple. The following example shows
            how to install it in the class-level setup method of a JUnit test:</p>

         <pre><code class="language-java">@BeforeClass
public static void setUpOnce() {
  FailOnThreadViolationRepaintManager.install();
}</code></pre>

         <p>When using Sun's JVM, a new instance of <code>FailOnThreadViolationRepaintManager</code> will be set as the
            default repaint manager in Swing once and only once, regardless of the number of times <code>install()</code>
            is called. On other JVMs this optimization is not guaranteed.</p>

         <p>Once a <code>FailOnThreadViolationRepaintManager</code> is installed, it will throw an
            <code>EdtViolationException</code> if a GUI test is not accessing Swing components in the EDT.</p>
      </div>
   </div>
</div>


$footer

$javascript

</body>
</html>
